{% extends 'base_frontend.html' %}
{% load static %}

{% block title %}Catálogo | Vanguardia Urbana{% endblock %}
{% block inicio %}
  <a href="{% url 'frontend_home' %}" style="color:#ffffff">Inicio</a>
{% endblock %}


{% block prodcuctos %}
    <a href="{% url 'frontend_catalogo' %}"style="color:#d4af37">Productos</a>
{% endblock %}

{% block login %}
  <a href="{% url 'frontend_login' %}">Login</a>
{% endblock %}


  
{% block content %}
 </style>
  <section class="featured-products">
    <div class="container">
     <!-- <p style="width: 100%; text-align: left; font-size: 1.5dvh; padding-left: 2dvh;"> {{usuario}}</p> -->
      <h2>Catálogo de Productos</h2>
      <div class="products-grid">
        {% for producto in productos %}
          <div class="product-card">
            <img src="{{ producto.imagen.url }}" alt="Producto {{producto.id}}">
            <h3>{{ producto.producto.nombre }}</h3>
            <p>{{ producto.producto.descripcion }}</p>
            <p>Talla: {{ producto.talla }}</p>
            <p>${{ producto.producto.precio_base }}</p>
            <a href="{% url 'agregarCarrito' producto.id %}" class="btn-secondary">Añadir al carrito</a>
          </div>
        {% endfor %}
       
      </div>
    </div>
  </section>
{% endblock %} 