{% extends 'base_frontend.html' %}
{% load static %}

{% block title %}Vanguardia Urbana - Inicio{% endblock %}

{% block content %}
  <section class="hero">
    <div class="container hero-content">
      <h1>Diseña tu producto con <span>elegancia</span></h1>
      <p>Personaliza productos únicos con nuestro editor intuitivo y descubre la colección exclusiva de Vanguardia IU.</p>
      <a href="{% url 'frontend_catalogo' %}" class="btn-main">Ver productos</a>
    </div>
  </section>
  <section class="featured-products">
    <div class="container">
      <h2>Productos Destacados</h2>
      <div class="products-grid">

        {% for variante in variantes %}
          <div class="product-card">
            <!-- <p>Vendedor: <a href="mailto: {{variante.producto.usuario.correo}}?subject=Informes sobre {{variante.producto.nombre}}" style="color:#ccc">{{variante.producto.usuario.correo}}</a></p> -->
            <p>Vendedor: 
              <a href="https://mail.google.com/mail/?view=cm&fs=1&to={{ variante.producto.usuario.correo }}&su=Informes sobre {{ variante.producto.nombre }}"  style="color:#ccc; text-decoration: none;">
                {{ variante.producto.usuario.correo }}
              </a>
            </p>
            <img src="{{ variante.imagen.url }}" alt="Producto {{variante.id}}">
            <h3>{{ variante.producto.nombre }}</h3>
            <p>{{ variante.producto.descripcion }}</p>
            <span>
              <p>Talla: {{ variante.talla }}</p>
              <p>Precio: ${{ variante.producto.precio_base }}</p>
            </span>
            
            <a href="{% url 'frontend_carrito' %}" class="btn-secondary">Añadir al carrito</a>
          </div>
        {% endfor %}



       
        <!-- <div class="product-card">
          <img src="{% static 'img/2vanu.jpeg' %}" alt="Producto 2">
          <h3>Edición Limitada</h3>
          <p>Exclusividad para ti.</p>
          <a href="{% url 'frontend_carrito' %}" class="btn-secondary">Añadir al carrito</a>
        </div>
        <div class="product-card">
          <img src="{% static 'img/3vanu.jpeg' %}" alt="Producto 3">
          <h3>Clásico Moderno</h3>
          <p>Elegancia atemporal.</p>
          <a href="{% url 'frontend_carrito' %}" class="btn-secondary">Añadir al carrito</a>
        </div> -->
      </div>
    </div>
  </section>
  <section class="custom-section">
    <div class="container custom-content">
      <h2>Personaliza a tu estilo</h2>
      <p>Utiliza nuestro editor para crear productos que reflejen tu personalidad. ¡Es fácil, rápido y divertido!</p>
      <a href="{% url 'frontend_login' %}" class="btn-main">Comenzar a personalizar</a>
    </div>
  </section>
{% endblock %} 